p {
	font-famlily: arial;
	font-size: 20px;
}

/*Img position*/

.imagenAbajoDerecha {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.imagenAbajoIzquierda {
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.imagenAbajoCentro {
	left: 50;
	margin: 0;
}

img {
	max-width: 100%;
	border: 5px solid #2c3e50
}

img:hover {
	border-color: #f39c12;
}