p {
	font-famlily: arial;
	font-size: 20px;
}

/* Divs contenedores */

.contenedor {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.imagen {
    max-width: 310px;
    height: auto;
}

.texto {
    color: #f0f0f0;
    max-width: 70%;
	justify-content: center;
}


img {
	max-width: 100%;
	border: 5px solid #2c3e50
}

img:hover {
	border-color: #f39c12;
}