body {
	background-image: url('Resources/fondo-madera-tablero-ajedrez.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
		
table {
	border: 3px solid black;
	box-shadow:
		0 -10px 15px -5px rgba(0,0,0,1),
		0 10px 15px -5px rgba(0,0,0,1); 
	margin: 0 auto;
	background-image: url('Resources/tablero-ajedrez.avif');
}
		
td {
	width: 75px;
	height: 75px;
	color: black;
	text-align: center;
	border: 1px solid black;
	font-size: 40px;
	vertical-align: middle;
}	
			
tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
	background-color: #b58863; 
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
	background-color: #f0d9b5;
}


h1 {
	text-align: center;
}