body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
	font-family: Arial, sans-serif;	
}

form {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    text-align: center;
    width: 300px; 
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"], input[type="reset"] {
    width: 45%;
    padding: 10px 0;
    margin: 10px 5px 0 5px;
    border: none;
    background-color: #4CAF50; 
    color: white;
}

input[type="submit"] {
    background-color: #4CAF50; 
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    background-color: #f44336; 
}

input[type="reset"]:hover {
    background-color: #e53935;
}

p {
    text-align: left;
}