body {
	background-color: #D6C1C1;
}

tr:nth-child(even) {
	background-color: #969696;
}

tr:nth-child(odd) {
	background-color: #4D4D4D;
}

table {
	border: 3px solid black;
	margin: 0 auto;
}

td {
	text-align: center;
	font-size: 40px;
	vertical-align: middle;
}

h1 {
	text-align: center;
}
